@model DemoMVC.Models.Daily

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Daily</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDaily" class="control-label"></label>
                <input asp-for="MaDaily" class="form-control" />
                <span asp-validation-for="MaDaily" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDaily" class="control-label"></label>
                <input asp-for="TenDaily" class="form-control" />
                <span asp-validation-for="TenDaily" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diachi" class="control-label"></label>
                <input asp-for="Diachi" class="form-control" />
                <span asp-validation-for="Diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nguoidaidien" class="control-label"></label>
                <input asp-for="Nguoidaidien" class="form-control" />
                <span asp-validation-for="Nguoidaidien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dienthoi" class="control-label"></label>
                <input asp-for="Dienthoi" class="form-control" />
                <span asp-validation-for="Dienthoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaHTPP" class="control-label"></label>
                <input asp-for="MaHTPP" class="form-control" />
                <span asp-validation-for="MaHTPP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenHTPP" class="control-label"></label>
                <input asp-for="TenHTPP" class="form-control" />
                <span asp-validation-for="TenHTPP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
