<form asp-action="Index">
    <label>Student:</label>
    <input type="text" name="StudentID" placeholder="Enter ID"/>
    <input type="text" name="FullName" placeholder="Enter Full Name" />
    <input type="submit" value="Save"/>
</form>
<h1>@ViewBag.thongBao</h1>